.container {
  .closeBtn {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
  }

  h4 {
    margin-top: 1rem;
  }
  .categories button {
    display: block;
    text-align: left;
    width: 80%;
    height: 3rem;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 1px solid var(--color-dark);
  }

  .brand {
    select {
      font-size: 1.6rem;
      font-weight: 300;
      padding: 5px;

      width: 80%;
      border: 1px solid var(--color-dark);
      border-radius: 3px;
      outline: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding-top: 32px;
    .closeBtn {
      display: flex;
    }
    .categories button {
      width: 100%;
    }
    .brand {
      select {
        width: 100%;
      }
    }
  }
}

.active {
  position: relative;
  padding-left: 1rem;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color-danger);
}
