.container {
  display: flex;
  position: relative;

  .filter {
    width: 20%;
    min-width: 190px;
    transition: all 0.3s;
  }

  .content {
    width: 80%;
    padding-left: 5px;
    position: relative;
    .listToggler {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: -30px;
      cursor: pointer;

      & > * {
        padding-left: 5px;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .filter {
      width: 60%;
      background-color: var(--color-white);
      border: 2px solid var(--primary-blue);
      position: absolute;
      left: -200%;
      padding: 1rem;
      z-index: 99;
    }
    .show {
      left: 0;
    }
    .content {
      width: 100%;
      .listToggler {
        display: flex;
      }
    }
  }
}
