.admin {
  display: flex;
  position: relative;
  @media (max-width: 800px) {
    display: initial;
  }

  .content {
    width: 75%;
    padding: 1rem;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
